.gcard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 71px;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1367px;
    
    &-list{
        margin: auto;
        &-img{
            height: 249px;
            width: 382px;
        }
        &-name{
            margin-top: 0%;
            font-size: 1rem;
        }
    }
}